html{
  width: 100vw;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content{
  margin: 0;
  padding: 0;
}
  
.top{
  z-index: 9999;
  position: fixed;
  height: 10vh;
  width: 100vw;
  background-color: #0086ea;
}

.top h2{
  margin: 0;
  padding: 2vh 0 2vh 5vw;
  height: 6vh;
  font-size: 6vh;
  color: #ffffff;
}

.top img{
  position: absolute;
  margin: 0;
  top: 0vh;
  padding: 2vh 0;
  right: 4vw;
  height: 6vh;
  width: 5vh;
}

.space {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 10vh;
}

.dialogbox {
  min-height: 80vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.finbot {
  margin: 0;
  padding:  1.5vh 0 1.5vh 2vw;
  max-width: 80vw;
  height: 100%;
  overflow: hidden; 
}

.finpic {
  margin: 0;
  padding: 0;
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  float: left;
}

.frecord {
  margin: 0 0 0 1.5vw;
  max-width: 60vw;
  height: auto;
  font-size: 4vw;
  background-color: #ffcc00;
  border: 1vh solid #ffcc00;
  border-radius: 1vh;
  float: left;
}

.user {
  margin: 0 0 0 auto;
  padding:  1.5vh 0 1.5vh 0;
  max-width: 80vw;
  min-height: 10vw;
  width: auto;
  height: 100%;
  overflow: hidden;
}
.urpic {
  position: absolute;
  right: 2vw;
  margin: 0;
  padding: 0;
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  float: left;
}
.urecord {
  margin: 0 13.5vw 0 0;
  max-width: 60vw;
  height: auto;
  font-size: 4vw;
  background-color: #00BBFF;
  border: 1vh solid #00BBFF;
  border-radius: 1vh;
  float: right; 
}
  
.bottom{
  z-index: 9999;
  position: fixed;
  bottom: 0; 
  height: 10vh;
  width: 100vw;
  background-color: #ffffff;
}

#fun{
  margin: 0;
  padding: 2.75vh 2vw 2.75vh 2vw;
  height: 4.5vh;
  width: 8vw;
  float: left;
}

  #funul{
    display: none;
    position: absolute;
    top:-20vh;
    left:3vw;
    height:20vh;
    width:13vh;
    border: solid;
    background-color: gray;
  }

#comment{
  margin: 2.5vh 0;
  padding: 0.65vh 0 0.65vh 2vw;
  height: 3.5vh;
  width: 70vw;
  font-size: 3.5vh;
  border-style: solid;
  border-width: 0.1vh 0.2vw 0.1vh 0.2vw;
  float: left; 
}


#send{
  margin: 0;
  padding: 2vh 0 2.25vh 1.5vw;
  height: 10vh;
  width: 15vw;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  float: left;
}

form img{
  height: 5.5vh;
  width: 10vw;
  float: left;
}






