html{
  height: 2000px; 
  width: 1680px;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

  .content{
   margin: 0;
   padding: 0;
  }
  
  .top{
    position: absolute;
    z-index: 10px;
    height: 10vh;
    width: 100vw;
    background-color: #0086ea;
  }

  .top h1{
    position: absolute;
    left: 5vw;
    font-size: 20hv;
  }

  .top h1 a{
    text-decoration: none;
    color: #ffffff;
  }

  .top img{
    position: absolute;
    top: 2vh;
    right: 4vw;
    height: 5vh;
    width: 5vh;
  }

  .dialogbox{
    padding: 5vh;
    position: absolute;
    top: 10vh;
    height: 80vh;
    width: 95vw;
    background-color: #f2f2f2;
  }

  #frecord{
    padding: 1vh;
    position: absolute;
    left: 15vw; 
    background-color: #ffcc00;
    border: 1vh solid #ffcc00;
    border-radius: 1vh;
  }

  #urecord{
    position: absolute;
    right: 15vw;
  }

  #finpic{
    position: absolute;
    left: 6vw;
    height: 7vh;
    width: 7vh;
    border-radius: 100%;
  }
  
  .bottom{
    position: absolute;
    z-index:10px;
    top: 90vh;
    height: 10vh;
    width: 100vw;
    background-color: #ffffff;
  }

  #fun{
    position: absolute;
    top: 2vh;
    left: 3vw;
    height: 6vh;
    width: 6vh;
  }

  #fun:hover{
    
  }

  #funul{
    display: none;
    position: absolute;
    top:-12vh;
    left:3vw;
    height:10vh;
    width:10vh;
    border: solid;
    color: white;
    background-color: black;
    border-radius: 10%;
    line-height: 4vh;
  } 

  #comment{
    position: absolute;
    top: 2vh;
    left: 13vw;
    height: 6vh;
    width: 70vw;
    font-size: 4vh;
  }


  #send{
    position: absolute;
    top: 2vh;
    right: 5vw;
    height: 6vh;
    width: 6vh;
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }

  form img{
    height: 5.5vh;
    width: 5.5vh;
  }






