body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: #FFCC00;
}

#login {
  margin: 0 0 0 0;
  width: 100vw;
  text-align: center;
}

h1 {
  margin: 22vh 0 10vh 0;
  font-size: 9vw;
}

input[type=text], input[type=password] {
  width: 80vw;
  margin: 0 0 5vw 0;
  padding: 1vh 0 1vh 2vw;
  font-size: 4.5vw;
  background-color: #F2F2F2;
  border: 0.3vw solid black;
  border-radius: 1.4vh;
  box-sizing: border-box;
}

#Login {
  width: 80vw;
  margin: 0 0 5vw 0;
  padding: 1vh 0 1vh 2vw; 
  font-size: 4.5vw;
  background-color: #00BBFF;
  color: #F2F2F2;
  border: 0.5vw solid #F2F2F2;
  border-radius: 1.4vh;
  box-sizing: border-box;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #0083B3;
}

p {
  margin: 0 0 1vh 0;
  font-size: 4vw;
}

#signup {
  display: none;
}
